{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
<h1>Hello world! Bienvenue sur le site de réservation pour différents événements !</h1>
{% endblock %}
